.movie-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 0;
    display: block;

   
  }

  .movie-card img {
    width: 100%;
    display: block;
  }